<p id="notice"><%= notice %></p>

<h1>Dog-Care Professionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Motto</th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |prof| %>
      <tr>
        <td><%= link_to prof.name, professional_path(prof) %></td>
        <td><%= prof.description %></td>
        <td><%= prof.motto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>