<h1> Edit information about <%= @dog.name %> </h1>

<%= link_to "Delete Dog", dog_path(@dog.id), :id => "delete_dog_button", :data => { disable_with: "Please wait..." }, :class => "ui  button", :method => :delete %>    

<%= render :partial => "add_edit_form" %>




