<div class="ui vertical masthead aligned segment" style="border:none;height:500px;padding-top:0;margin-right:-1em; margin-left:-1em">
  <div class="middle">
    <%=image_tag("homepage-logo.png", alt: "Example Image", class: "homepage-logo")%>
  </div>
  <div class="landing-subtext">
    <%= image_tag("landing-subtext.png", :alt => "subtext", id: "landing-subtext") %>
  </div>
</div>
