<h1>This is our homepage.</h1>

<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.first_name %></strong>!
    <%= link_to "Sign out", logout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "log_in" %>
  <% end %>
</div>