<div class="ui vertical masthead aligned segment" style="border:none;height:500px;padding: 175px 0px">
  <div class="middle">
    <h1>CITY DOG SHARE</h1>
    <h2>FIND DOGS YOU LOVE</h2>
  </div>
</div>
