<div class="large-12 columns">
  <br />
  <div class="large-7 columns" id ="user_info">
    <div class="ui blue inverted top attached segment" style="overflow:hidden">
      <div id="name">
        <h1><%= image_tag @user.image, :class => "ui middle aligned small image", :id => "ui-segment" %>&nbsp; <%= @user.first_name %></h1>
      </div>
    </div>
<button class="ui button">
  Button
</button>
  
