<div class="ui one column grid">
  <%= render :partial => "users/user", :user => @user %>
  <div class="eleven wide column">
    <div class="ui segment">
      <h2 style="margin-bottom:5px">
        <%= @user.first_name %>'s Dogs
        <a class="right floated green-button" href=<%=new_dog_path()%> id="add_dog_button">
          <i class="plus icon"></i>
        </a>
      </h2>
      <div class="ui divider"></div>
      <%= render :partial => "dog", :collection => @user.dogs %>
    </div>
  </div>
</div>
