<div class="ui one column grid">
  <%= render :partial => "users/user", :user => @user %>
  <div class="eleven wide column">
    <div class="ui segment">
    <h2>Your Favorite Dogs</h2>
      <%= render :partial => "users/dog", :collection => @staredDogs %>
    </div>
  </div>
</div>

    
    
