// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed-container {
    overflow: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}

#browse-dogs-header{
    width: 110%;
    margin-top: -2.5em;
    margin-right: -1.5em;
    margin-left: -1.5em;
}
