$border-color: #E6E6E6;
$light-gray: #BFBFBF;
$dark-gray: #404040;
$off-white: #F7F7F7;
$teal: #1dc499;
$blue: #28b9f1;

#my-menu {
    background-color: white;
    box-shadow: none;
    border-top: 0px;
    border-bottom: 1px solid $border-color;
    // padding: 15px 150px;

    h2.logo-font {
        margin-left: 75px;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 0px;
        margin-top: 0px;

        span {
            border-bottom: 1px solid $dark-gray;
        }
    }

    .login {
        font-size: 16px;
        color: $dark-gray;
        font-weight: 300;
        padding: 5px 3px;
        margin: 20px 0px;
        border-bottom: 1px solid white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            color: $teal;
            border-bottom: 1px solid $teal;
            background: white;
        }
    }
    
    .right_item {
        font-size: 16px;
        color: $dark-gray;
        font-weight: 300;
        margin: 20px 0px;
        border-bottom: 1px solid white;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
        
        &:hover, &:active, &:link, &:visited {
            background: transparent;
        }
    }
    
    .menu_item {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        a {
            font-weight: 300;
            font-size: 14px;
            margin: 0px !important;
            padding: 0px !important;
            &:hover {
                background-color: transparent;
            }
        }
    }
    
}
