<div class="ui large top menu fixed" id="my-menu">
  <h2 class="item logo-font">City Dog Share</h2>
  <div class="right menu" style="margin-right: 80px">
    
    <% if current_user %>
      <div class="ui top right pointing dropdown item right_item">
        <%= current_user.first_name + " " + current_user.last_name %>
        <div class="menu">
          <div class="item menu_item"><%= link_to "My Profile", user_path(@user), class: "item"%></div>
          <div class="item menu_item"><%= link_to "Log Out", '/logout', class: "item"%></div>
        </div>
      </div>    
    <% else %>
      <%= link_to "FACEBOOK LOGIN", "/auth/facebook", id: "log_in", class: "item login" %>
    <% end %>
  </div>
</div>